/*
.search-form{
	width:205px;
}
#top-panel ul.main-nav li a{
	padding:5px 10px 15px 10px;
	display:block;
}
#top-panel ul.main-nav{
	margin:10px 0 0 0;
}
#top-panel .menu-search-wrp{
	margin:0px 0 0 0;
}
#banner-wrp{
	margin:-1px 0 0 0;
}
#banner{
	margin-top:-1px;
}
a img{
	border:none;
}
*/