/** Positions **/

.justify{ text-align: justify; }
.center { text-align: center; }
.left   { text-align: left; }
.right  { text-align: right; }

.clear  { clear: both; height: 1px; } 

.ls1    { height: 1px; }
.ls2    { height: 2px; }
.ls3    { height: 3px; }
.ls4    { height: 4px; }
.ls5    { height: 5px; }
.ls6    { height: 6px; }
.ls7    { height: 7px; }
.ls8    { height: 8px; }
.ls9    { height: 9px; }
.ls10   { height: 10px; }
.ls11   { height: 11px; }
.ls12   { height: 12px; }
.ls13   { height: 13px; }
.ls14   { height: 14px; }
.ls15   { height: 15px; }
.ls16   { height: 16px; }
.ls17   { height: 17px; }
.ls18   { height: 18px; }
.ls19   { height: 19px; }
.ls20   { height: 20px; }
.ls21   { height: 21px; }
.ls22   { height: 22px; }
.ls23   { height: 23px; }
.ls24   { height: 24px; }
.ls25   { height: 25px; }
.ls26   { height: 26px; }
.ls27   { height: 27px; }
.ls28   { height: 28px; }
.ls29   { height: 29px; }
.ls30   { height: 30px; }

/** helper **/
.leftDiv15 { margin-left:15px; }
.leftDiv16 { margin-left:16px; }
.leftDiv17 { margin-left:17px; }
.leftDiv18 { margin-left:18px; }
.leftDiv19 { margin-left:19px; }
.leftDiv20 { margin-left:20px; }
.leftDiv25 { margin-left:25px; }
.leftDiv26 { margin-left:26px; }
.leftDiv28 { margin-left:28px; }
.leftDiv30 { margin-left:30px; }

.rightDiv15 { margin-right:15px; }
.rightDiv16 { margin-right:16px; }
.rightDiv17 { margin-right:17px; }
.rightDiv18 { margin-right:18px; }
.rightDiv19 { margin-right:19px; }
.rightDiv20 { margin-right:20px; }
.rightDiv25 { margin-right:25px; }
.rightDiv26 { margin-right:26px; }
.rightDiv28 { margin-right:28px; }
.rightDiv30 { margin-right:30px; }

.topDiv10 { margin-top:10px; }
.topDiv15 { margin-top:15px; }
.topDiv16 { margin-top:16px; }
.topDiv17 { margin-top:17px; }
.topDiv18 { margin-top:18px; }
.topDiv19 { margin-top:19px; }
.topDiv20 { margin-top:20px; }

.botDiv10 { margin-top:10px; }
.botDiv15 { margin-top:15px; }
.botDiv16 { margin-top:16px; }
.botDiv17 { margin-top:17px; }
.botDiv18 { margin-top:18px; }
.botDiv19 { margin-top:19px; }
.botDiv20 { margin-top:20px; }

.topBotDiv2 { margin:2px 0px; }
.topBotDiv5 { margin:5px 0px; }
.topBotDiv10 { margin:10px 0px; }
.topBotDiv15 { margin:15px 0px; }
.topBotDiv16 { margin:16px 0px; }
.topBotDiv17 { margin:17px 0px; }
.topBotDiv18 { margin:18px 0px; }
.topBotDiv19 { margin:19px 0px; }
.topBotDiv20 { margin:20px 0px; }
.topBotDiv30 { margin:30px 0px; }

.leftDiv15,
.leftDiv16,
.leftDiv17,
.leftDiv18,
.leftDiv19,
.leftDiv20,
.leftDiv25,
.leftDiv26,
.leftDiv28,
.leftDiv30,
.rightDiv15,
.rightDiv16,
.rightDiv17,
.rightDiv18,
.rightDiv19,
.rightDiv20,
.rightDiv25,
.rightDiv26,
.rightDiv28,
.rightDiv30,
.topDiv10,
.topDiv15,
.topDiv16,
.topDiv17,
.topDiv18,
.topDiv19,
.topDiv20,
.botDiv10,
.botDiv15,
.botDiv16,
.botDiv17,
.botDiv18,
.botDiv19,
.botDiv20,
.topBotDiv2,
.topBotDiv5,
.topBotDiv15,
.topBotDiv16,
.topBotDiv17,
.topBotDiv18,
.topBotDiv19,
.topBotDiv20,
.topBotDiv30 { 
	display: block; 
}

.w10p { width: 10%; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w38p { width: 38%; }
.w58p { width: 58%; }

.spaceR5 {
	margin: 0 5px 0 0;
}
.spaceL5 {
	margin: 0 0 0 5px;
}
.spaceR10 {
	margin: 0 10px 0 0;
}
.spaceL10 {
	margin: 0 0 0 10px;
}
.spaceR15 {
	margin: 0 15px 0 0;
}
.spaceL15 {
	margin: 0 0 0 15px;
}

/** Font Decoration **/

.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }

.black { color: #000; }
.white { color: #fff; }
.gray  { color: gray; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.warning3 { color: red; }
.warning2 {
    background-color: #FFFFEB; color: #3F3F3F;
    padding: 5px; font-weight: bold;
}

label.error { padding-top:3px; padding-left:3px; color: #CE3006; margin:0 5px 0 5px !important;}

.spinner {
    background: transparent url('../image/system/spinner.gif') top center no-repeat;
    height: 25px; width: 25px; margin: 60px auto; display: none;

}

.transparent {
    background:transparent url('../image/system/transparent.png') top left repeat;
}

.hidden {
    display: none;
}

.notes  {
    background-color : #fffee0;
    border           : 3px solid #b2b2b0;
    padding          : 10px;
    width            : auto;
    margin-right     : 20px;
}

.indentMin {
	text-indent: -99999px;
}